{% extends "main/base.html" %}

{% block content %}
<div class="row justify-content-center my-5">
    <div class="col-md-8 col-lg-6">
        <div class="card card-custom">
            <div class="card-header card-custom-header py-3 text-center">
                <h2 class="h4 m-0">Agregar Nuevo Bidón</h2>
            </div>
            <div class="card-body p-4">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    
                    {{ form }}
                    
                    <div class="d-flex justify-content-between mt-4">
                        <a href="{% url 'product_create_select' %}" class="btn btn-secondary-custom px-4">Cancelar</a>
                        <button type="submit" class="btn btn-primary-custom px-4">Guardar Bidón</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}