{% extends "main/base.html" %}

{% block content %}
<!-- INICIO DE SECCIÓN: VER PEDIDOS -->
<section id="sec-view">
    <h2>Ver Pedidos</h2>
    <table border="1" cellpadding="10" cellspacing="0">
        <thead>
            <tr>
                <th>ID Pedido</th>
                <th>Cliente</th>
                <th>Teléfono</th>
                <th>Dirección</th>
                <th>Cantidad Bidones</th>
                <th>Tipo de Bidon</th>
                <th>Precio Total</th>
                <th>Fecha Pedido</th>
                <th>Fecha Entrega Esperada</th>
                <th>Estado</th>
                <th>Forma de Pago</th>
                <th>Observaciones</th>
            </tr>
        </thead>
        <tbody>
            {% for pedido in pedidos %}
            <tr>
                <td>{{ pedido.id_pedido }}</td>
                <td>{{ pedido.nombre_cliente }}</td>
                <td>{{ pedido.telefono }}</td>
                <td>{{ pedido.direccion_entrega }}</td>
                <td>{{ pedido.cantidad_bidones }}</td>
                <td>{{ pedido.tipo_bidon }}</td>
                <td>${{ pedido.precio_total }}</td>
                <td>{{ pedido.fecha_pedido }}</td>
                <td>{{ pedido.fecha_entrega_esperada }}</td>
                <td>{{ pedido.estado }}</td>
                <td>{{ pedido.forma_pago }}</td>
                <td>{{ pedido.observaciones }}</td>

            </tr>
            {% empty %}
            <tr>
                <td colspan="15" align="center">No hay pedidos registrados</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock  %}
<!-- FIN DE SECCIÓN: VER PEDIDOS -->